html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#etchSketch {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  max-height: 960px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  max-width: 960px;
  height: auto;
  align-items: center;
}

.box {
  border: 1px solid black;  
  margin: 0 2px 1px 0;
  aspect-ratio: 1 / 1;
  width: 25px;
}

h1 {
  text-align: center;
}

#buttons {
  margin: 0 0 5px 0;
}

#newGame {
  margin-right: 5px;
}